/*
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
 */

body {
    font-family: 'Poppins', sans-serif;
}

header, main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
 }

.fa-code {
    font-size: 6rem;
    color: brown;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}