body {
    font-family: Arial, Helvetica, sans-serif;
    background: #BA5624;
}

.container {
    margin: 0 auto;
    width: 75%;
    background: #FCDE9C;
}

.h1andpicture {
    position: relative;
}

.h1andpicture img {
    width: 100%;
}

h1{
    /* Sets position of header over top image */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
    /* Adjusts size and colour of h1 text */
    color: white;
    font-size: 250%;
}


nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 175%;
    width: 33%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav ul li:not(:first-child) {
    border-left: solid 1px black;
}

/* Gives a margin to all elements except for the top image and header */

body main {
    margin: 1.5%;
}

article div img{
    height: auto;
    width: 300px;
    max-width: 60%;
    float: left;
    margin: 10px 10px 0 0;
}

article ul {
    margin-left: -20px;
}

/* Adds border and padding to form overall */
form {
    border: 1px solid black;
    width: 98%;
    margin: 0 auto;
    max-width: 95%;
    padding: 15px;
}

form div #fullname, #youremail {
    width: 100%;
}

form div textarea {
    width: 100%;
}

.formandtext input, .formandtext textarea {
    display: block;
}

.formandtext label {
    height: 200px;
}

form div textarea {
    height: 6em;
}

form div button {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
    font-size: 70%;
    background: #FCDE9C;
    border: 1px solid black;
}

footer {
    text-align: right;
    padding: 25px;
    padding-bottom: 30px;
}