body {
    font-family: Arial, Helvetica, sans-serif;
    background: #BA5624;
    margin-top: 0;
}

.container {
    margin: 0 auto;
    width: 70%;
    background: #FCDE9C;
}

.h1andpicture {
    position: relative;
}

.h1andpicture img {
    width: 100%;
}

h1{
    /* Sets position of header over top image */
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    /* Adjusts size and colour of h1 text */
    color: white;
    font-size: 400%;
    /* z-index can bring elements behind or up front
    it's like adjusting layers in Illustrator or InDesign 
    higher the z-index, the more forward*/
    z-index: 1;
}

/* Adjusts font sizes for h2, h3, h4 */
h2 {
    font-size: 250%;
    margin-bottom: 0px;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

/* Sets width for nav boxes and centers text w/in them */
nav ul li {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 175%;
    width: 32%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 80%;
}

/* adds a line between all elements by drawing a border on the right of every element that is not the last one */
nav ul li:not(:last-child) {
    border-right: solid 1px black;
}

/* Gives a margin to all elements except for the top image and header */
body main {
    margin-left: 1%;
    margin-right: 1%;
}

/* Sets a max size, margins, and floats the article image left*/
article div img{
    height: auto;
    width: 300px;
    max-width: 60%;
    float: left;
    margin: 0 10px 0 0;
}

/* Moves list items in line with other items in the main */
article ul {
    margin-left: -20px;
}

/* Adds border and padding to form overall */
form {
    display: block;
    border: 1px solid black;
    width: auto;

    padding-right: 20px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Sets margin above labels for input and text boxes */
form div {
    margin-top: 15px;
}

/* Sets width of input and text boxes in form */
#fullname, #youremail, #yourmessage {
    width: 100%;
    margin-top: 10px;
}

#yourmessage {
    height: 6em;
}

.formandtext {
    margin-top: 2rem;
}

form div button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 70%;
    background: #FCDE9C;
    border: 1px solid black;
}

/* Changes the button style while hovering */
form div button:hover {
    background: #BA5624;
    color: white;
}

/* Changes the button style upon click */
form div button:active {
    background: white;
    color: #BA5624;
}

/* Sets footer in bottom right of container */
footer {
    text-align: right;
    padding: 25px;
    padding-bottom: 30px;
}