/* https://youtu.be/dQw4w9WgXcQ?si=teJLEvaNt1ywrICV */

/******** Notes for formatting  *********/
/* Colours values: #c78c06, #ffe6ac, #222 and white */
/* 'Open Sans' Google font */
/* Max width of the container is 1200px */
/* Min-width media query for the screen size of 760px and above */


/*
web 

.ourservices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    
    grid-template-areas:
    "header header header header header header"
    "digital digital digital marketing marketing marketing"
    "video video web web print print"
    ;
} */