/* https://youtu.be/dQw4w9WgXcQ?si=teJLEvaNt1ywrICV */

/******** Notes for formatting  *********/
/* Colours values: #c78c06, #ffe6ac, #222 and white */
/* Max width of the container is 1200px */
/* Min-width media query for the screen size of 760px and above */

/* font-family: 'Open Sans', sans-serif; */

/*
web 

.ourservices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    
    grid-template-areas:
    "header header header header header header"
    "digital digital digital marketing marketing marketing"
    "video video web web print print"
    ;
} */

/**********************************
           Custom Styles
***********************************/

/********* Global Styles **********/
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 5.063rem;
    font-weight: bold;
}

h2{
    font-size: 2.827rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3{
    font-size: 2.25rem;
    margin: 0;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1rem;
    margin: 0;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*********************
 Card and Chunk Styles
**********************/

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    background-color: #222;
    padding: 30px;
}

.chunk img {
    width: 100%;
}

.chunk {
    width: 95%;
    margin: 0 auto;
}

.card {
    margin: 1em 0 0 0;
}
/************* NAV STYLES *****************/
.logonavandsearch {
    background-color: #222;
    padding: 1em;
}

.content {
    width: 100%;
}

 .nav-list {
    list-style: none;
    font-size: 1.25rem;
    margin: 0;
    width: 100%;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #c78c06;
}

.nav-list a,
.nav-list :link,
.nav-list :visited {
    display: block;
    padding: 1em;
    text-align: center;
}

.nav-list li:first-child {
    padding-top: 1em;
}

.nav-list li .current, .nav-list li:first-child {
    background-color: #c78c06;
    color: #222;
}

.search {
    width: 100%;
    max-width: 760px;
    display: flex;
    align-items: flex-start;
}

.search input {
    height: 2rem;
    font-size: 1.25rem;
    width: 100%;
    margin: 0;
    padding: 0.3em;
    flex: 10 0 0;
    /* float: left; */
}

.searchglass {
    border: 1px solid #c78c06;
    color: #c78c06;
    background-color: #222;
    height: 2.9rem;
    width: 3rem;
    font-size: 1.75rem;
    flex: 0 0 1;
    /* float: left; */
}
/************* WELCOME STYLES *****************/

.welcome {
    display: block;
    background: url("../images/main-banner.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 5em 0;
}

.welcome .info {
    /* Background colour uses built in opacity of hex codes.*/
    background-color: #222222bc;
    color: white;
}

.welcome .btn {
    background-color: #c78c06;
    color: #222;
    font-size: 1.5rem;
}

.aboutus, .card, .info {
    background-color: #ffe6ac;
}


/************* ABOUT US STYLES *****************/

.aboutus {
    padding: 1em;
}

.aboutus img {
    width: 100%;
}

/************* SERVICES STYLES *****************/

.info {
    padding: 1em;
}

/************* VISION STYLES *****************/
.vision {
    background: url("../images/vision.jpg") no-repeat center;
    background-size: 100%;
    color: white;
    padding: 1em;
    margin: 2em 0;
}

.vision .btn {
    /* Background colour uses built in opacity of hex codes.*/
    background-color: #222222bc;
    border: 1px solid #c78c06;
}

.vision h3 {
    margin-top: 0.75em;
}

/************* CONTACT US STYLES *****************/

.sendmessage, .operationhours, .location {
    margin: 1em 0;
}

.messageform, .hourstable, .map {
    margin-top: 0.5em;
} 

/******* Send us a message Styles *******/
.contact .btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.35rem;
    color: #c78c06;
    background-color: #222;
    padding: 0.25em;
    border: 0;
    margin-top: 0.25em;
}

#fullname, #youremail, #yourmessage {
    width: 100%;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 10px;
}

#fullname, #youremail {
    height: 2em;
}

#yourmessage {
    height: 10em;
}

/******* Operation Hours Styles *******/
.operationhours {
    width: 100%;
}

.operationhours table {
    width: 100%;
}

.operationhours table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.operationhours th {
    background-color: #ffe6ac;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

/**************** TEAM STYLES ******************/

.ceo, .cfo {
    border-collapse: collapse;
    background-color: #ffe6ac;
}

.team h5 {
    border-bottom: 2px solid #c78c06;
}

/**************** FOOTER STYLES ******************/
footer {
    color: #c78c06;
    background-color: #222;
    padding: 1em 0 0.25em 1em;
}

footer a {
    color: #c78c06;
}


/*************************************************
                  Desktop Styles
**************************************************/


@media screen and (min-width: 760px){
    
    html {
        /* font-size: 16px; */
    }

    .logonavandsearch {
        padding: 2.25em;
    }

    .nav-list {
        display: grid;
        width: 87%;
        margin: 0 auto;
        /* font-size: 1em; */
        grid-template-columns: 1.25fr repeat(5, 1fr) 1.75fr;
    }

    .nav-list li {
        flex: 1;
        border: none;
        align-self: center;
        /* flex: 0 0 1; */
    }

    .nav-list li:first-child {
        background-color: #222;
        padding: 0;
    }

    .search input {
        font-size: 1em;
        width: 20%;
        height: 1.5rem;
    }

    .search {
    }

    .searchglass {
        border: 1px solid #c78c06;
        color: #c78c06;
        background-color: #222;
        height: 2.35rem;
        width: 2.25rem;
        font-size: 1.5rem;
        padding: 6px;
    }

    .welcome {

    }
}


/**************** HARRY STYLES ******************/

/* https://en.wikipedia.org/wiki/Harry_Styles */